.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-body {
  // Takes all space between header and footer.
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--color-secondary);
}
